.bloque-texto-a.color-secundario
  background-color: #E1DAF5
  -webkit-border-top-left-radius: 200px;
  -moz-border-radius-topleft: 200px;
  border-top-left-radius: 200px;
.bloque-texto-a.color-secundario:before
  background-color: #fff
.wrap-ap
  // position: absolute
  // bottom: 0px !important
.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);