.bloque-texto-a.color-secundario
  background-color: #E1DAF5
  -webkit-border-top-left-radius: 200px;
  -moz-border-radius-topleft: 200px;
  border-top-left-radius: 200px;
.bloque-texto-a.color-secundario:before
  background-color: #fff
.wrap-ap
  // position: absolute
  // bottom: 0px !important
.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
.neg-margin-x
  margin-left: -3rem
  margin-right: -3rem
.r-0
  border-radius: 0px !important
.c1
  background-color: rgba(255, 119, 88, .2)
  border: 3px solid rgba(255, 119, 88, 1)
  border-right: 0
.c1:hover
  background-color: rgba(255, 119, 88, 1)
  color: #fff

.c2
  background-color: rgba(103, 93, 132, .2)
  border: 3px solid rgba(103, 93, 132, 1)
  border-left: 0
.c3
  background-color: #fff
  border: 3px solid rgba(255, 119, 88, 1)
  border-left: 0
.c2:hover
  background-color: rgba(103, 93, 132, 1)
  color: #fff
.c1:hover *, .c2:hover *
  color: #fff
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  height: 36px
  width: 36px
.t3-slider .circle
  border-radius: 12px!important
  color: #000000 !important
.t3-slider .tarjeta.color-primario *
  color: #000000 
.t3-slider .color-primario
  background-color: #E1DAF5
.t3-slider .slyder-a__btn--sigt
  right: -25px
.t3-slider .slyder-a__btn--atrs
  left: -25px
.t3-slider .slyder-a__bullets
  bottom: 20px
.slyder-a__bullets__item--active
  background-color: #FF7758
  border-color: #FF7758
i.fa-square
  color: #FF7758 !important
.text-xxl
  font-size: 40px
  font-weight: 700
.card-flip
  text-align: center
  padding: 25px
  border-radius: 10px
.cf1
  background-color: #C3B5EC
.cf2
  background-color: #FFBA5B
.cf3
  background-color: #FF7758
.cf1, .cf2, .cf3
  position: relative
  text-align: center
  padding: 25px
  border-radius: 10px

.content
  position: absolute
  width: 200px
  height: 150px
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  transition: transform 1s
  transform-style: preserve-3d
  background-color: #C3B5EC
  text-aign: center
  border-radius: 10px

.cardF:hover .content
  transform: rotateY(180deg)
  transition: transform 0.5s

.front
  position: absolute
  height: 100%
  width: 100%
  color: #03446A
  text-align: center
  border-radius: 10px
  backface-visibility: hidden;
  
.front .text-xxl
  margin-top: 25px
  display: block
  
.back
  position: absolute
  height: 100%
  width: 100%
  background-color: #03446A
  text-align: center
  border-radius: 10px
  backface-visibility: hidden
  transform: rotateY(180deg)

.cards-container
  position: relative
  height: 200px

.back .text-back
  padding: 50px 30px
  color: #fff
  display: block
  font-weight: 700

.slyder-a__btn--sigt
  right: -25px
.slyder-a__btn--atrs
  left: -25px
.SliderIntro .slyder-a__btn--sigt
  top: 85%
  right: 30%
.SliderIntro .slyder-a__btn--atrs
  top: 85%
  left: 30%

